html, body {
    font-style: normal;
    font-size: 13px;
    color: #333333;
}

body, div, address, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, pre, table, caption, td, form, legend, fieldset, input, button, select, textarea, p {
    margin: 0;
    padding: 0;
}

.badge-warning {
    color: #ffffff;
    background-color: #ff6633 !important;;
}

a:hover {
    text-decoration: none;
}

ol, ul, dl, li, dt {
    list-style-type: none;
}

.p-wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.p-container {
    min-height: 600px;
    position: relative;
}

.bg-primary {
    background-color: #03213E !important;
}

.bg-orange {
    background-color: #ff6633 !important;;
}

.bg-white {
    background-color: #ffffff !important;;
}

.bg-gray {
    background-color: #f7f7f7 !important;;
}

.border-gray {
    border: 1px solid #ccc;
}

.ml15 {
    margin-left: 15px;
}

.fz20 {
    font-size: 20px;
    font-weight: 700;
}

.fz18 {
    font-size: 18px;
    font-weight: 700;
}

.fz16 {
    font-size: 16px;
    font-weight: 700;
}

.fz13 {
    font-size: 13px;
}

.fc-black {
    color: #333333 !important;
}

.fc-gray {
    color: #999999 !important;
}

.fc-dark {
    color: #000000 !important;
}

.fc-white {
    color: #dddddd !important;
}

.fc-light {
    color: #FFFFFF !important;
}

.fc-orange {
    color: #ff6633 !important;
}

.fw-bold {
    font-weight: 700;
}

.fw-regular {
    font-weight: 100;
}

.p-page-title {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    padding: 30px 0px 20px 15px;
}

/*轮播样式*/
.carousel-indicators li, .carousel-indicators .active {
    width: 25px;
    height: 5px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 0;
}

.carousel-indicators .active {
    background: #fff;
}

/*搜索框样式*/
.common-fixed-search {
    width: 100vw;
    display: none;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 40px 0;
    align-items: center;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0;
    -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.349019607843137);
}

.common-fixed-search .common-fixed-search-wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.common-fixed-search .common-fixed-search-logo {
    width: 82px;
    height: 29px;
    margin: 0 50px 0 10px;
}

.common-fixed-search .common-fixed-search-content {
    width: 85%;
}

.p-search {
    padding: 40px 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.p-search .p-types {
    font-size: 14px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.p-search .p-types b {
    display: inline-block;
    height: 2px;
    width: 23px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    background: #333;
}

.p-search .p-types select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60px;
}

.p-search .p-types label {
    padding-left: 30px;
    width: 100px;
}

.p-search .p-types:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    position: relative;
    left: -60px;
    top: -2px;
    margin-left: 10px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
}

.p-search .search-wrap {
    padding-left: 50px;
    display: inline-flex;
    align-items: center;
    width: 70%;
}

.p-search .search-wrap input {
    width: 100%;
    height: 37px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(16, 91, 164, 1);
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999999;
    padding-left: 10px;
    margin-left: 20px;
}

.p-search .search-wrap label {
    border-width: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 54px;
    height: 37px;
    margin: 0;
    background: inherit;
    background-color: rgba(16, 91, 164, 1);
    border: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.p-search .new-user {
    display: inline-flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

.p-search .new-user img {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    right: 0;
}

.p-search .new-user .new-user-tip {
    padding-left: 45px;
    position: relative;
}

/*右侧快捷菜单*/
.common-right-aside {
    position: fixed;
    height: 282px;
    width: 160px;
    overflow: hidden;
    z-index: 999;
    top: calc(50% - 141px);
    right: calc(50% - 600px - 160px);
}

.common-right-aside ul li {
    height: 55px;
    display: inline-flex;
    align-items: center;
    background: #fff;
}

.common-right-aside ul li p {
    width: 110px;
    padding-right: 30px;
    position: relative;
    left: 110px;
    color: #fff;
    background: #FF6633;
    line-height: 55px;
    opacity: 0;
    border-bottom: 1px solid #fff;
    height: 55px;
    text-align: right;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.common-right-aside ul li div {
    width: 52px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 999;
    border-bottom: 1px solid #fff;
    justify-content: space-around;
    background: #666666;
}

.common-right-aside ul li:hover div {
    background: #FF6633;
}

.common-right-aside ul li:hover p {
    opacity: 1;
    left: 0;
}

.common-right-aside ul li div img {
    width: 31px;
    height: 31px;
}

