.p-footer {
    width: 100%;
    position: relative;
    padding: 30px 0px;
}

.p-footer .p-footer-nav {
    display: flex;
    padding: 0px 50px 30px;
}

.p-footer .p-footer-nav-item {
    width: 200px;
}

.p-footer .p-footer-title {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 34px;
    margin: 0 0 15px;
    position: relative;
    text-transform: capitalize;
}

.p-footer .p-footer-list li a {
    color: #CCCCCC;
    display: block;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
    line-height: 31px;
}

.p-footer .p-footer-list li a:hover {
    color: #eeeeee;
}

.p-footer .p-footer-contact {
    color: #CCCCCC;
    font-size: 13px;
    font-weight: 400;
    line-height: 34px;
}

.p-footer .p-socials {
    padding: 10px 3px;
}

.p-footer .p-socials a {
    margin-right: 8px;
}

.p-footer .p-socials a img {
    width: 30px;
}

.p-footer .footer-middle a {
    margin-right: 8px;
}

.p-footer .footer-middle img {
    height: 30px;
}
