.index-top {
    display: inline-flex;
    width: 100%;
}

.index-banner {
    display: inline-flex;
    align-items: center;
}

.index-banner .index-banner-content {
    width: 938px;
    margin-right: 12px;
    height: 434px;
}

.index-banner .index-banner-content .carousel-inner img {
    height: 434px;
}

.index-banner .index-banner-service {
    width: 250px;
    height: 434px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.index-banner .index-banner-service h4 {
    margin: 20px 30px 10px;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #999;
}

.index-banner .index-banner-service li {
    margin: 8px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.index-banner .index-banner-service li img {
    margin-right: 10px;
    width: 38px;
}

.index-banner .index-banner-service li h5 {
    font-weight: bold;
    margin: 8px 0;
}

.index-tip {
    width: 1200px;
    height: 98px;
    margin: 20px 0;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    display: inline-flex;
    align-items: center;
    border-color: #E6E6E6;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.index-tip h5 {
    width: 13%;
    margin-right: 2%;
    text-align: center;
    height: 60px;
    display: inline-flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid #CCCCCC;
}

.index-tip ul {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-between;
}

.index-tip ul li {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    color: #FFA786;
}

.index-tip ul li img {
    margin: 10px;
}

.index-tip ul li p {
    padding: 5px 20px 0 0;
}

.index-goods .index-goods-top {
    display: inline-flex;
    align-items: flex-end;
    width: 1200px;
    justify-content: space-between;
    padding: 20px 10px 5px;
    border-bottom: 1px solid #999;
}

.index-goods h3 {
    font-weight: 700;
    font-size: 18px;
}

.index-goods h3:before {
    content: ' ';
    display: inline-flex;
    width: 10px;
    height: 27px;
    margin-right: 10px;
    background: red;
}

.index-goods-content {
    box-sizing: border-box;
    width: 1200px;
    margin: 20px 0 40px 0;
    display: inline-flex;
}

.index-goods-content .index-goods-left {
    display: inline-block;
    width: 230px;
    height: 590px;
}

.index-goods-content .index-goods-left img {
    display: inline-block;
    width: 230px;
    height: 590px;
}

.index-goods-content ul {
    display: inline-flex;
    flex-wrap: wrap;
}

.index-goods-content ul li {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    border-color: rgba(204, 204, 204, 1);
    width: 23.5%;
    margin-left: 1.5%;
    height: 288px;
}

.index-goods-content ul li .index-good {
    display: inline-block;
    width: 100%;
    margin: 3px;
}

.index-goods-content ul li:nth-child(1),
.index-goods-content ul li:nth-child(2),
.index-goods-content ul li:nth-child(3),
.index-goods-content ul li:nth-child(4) {
    margin-bottom: 14px;
}

.index-goods-content ul li .index-good p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #333;
}

.index-goods-content ul li .index-good b {
    font-size: 18px;
    display: inline-block;
    margin-top: 10px;
    color: #333;
}

.index-goods-content ul li img {
    width: calc(100% - 6px);
}
